<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-mail-list</title>

    <!-- Custom style -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUEJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

    <div id="app">
        <h1>GENERATORE DI INDIRIZZI E-MAIL</h1>

        <hr>

        <div class="input">
            <label for="gen-email">Quante e-mail vuoi generare ?</label>
            <input type="number" id="gen-email" v-model="inputNumberOfEmail">
        </div>
        <button @click="generateRndMail">Genera</button>

        <h2>Queste sono le tue e-mail generate</h2>
        <ol v-if="arrayEmail.length == numberOfEmail">
            <li v-for="email in arrayEmail">{{ email }}</li>
        </ol>

    </div>

    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./js/script.js"></script>
</body>
</html>