<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-mail-list</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

    <!-- Custom style -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUEJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

    <div id="app">
        <h1>GENERATORE DI INDIRIZZI E-MAIL</h1>

        <hr>

        <div class="input">
            <label for="gen-email">Quante e-mail vuoi generare ?</label>
            <input type="number" id="gen-email" v-model="inputNumberOfEmail" @keyup.enter="generateRndMail">
        </div>
        <button @click="generateRndMail">Genera</button>

        <div v-if="arrayEmail.length === numberOfEmail">
            <h2>Queste sono le tue e-mail generate</h2>
            <ol>
                <li v-for="(email, i) in arrayEmail" :key="i">{{ email }}</li>
            </ol>
        </div>
        <div class="is-loading" v-if="isLoading">
            <p>STIAMO CARICANDO LE TUE E-MAILS</p>
            <div class="col-xs-12">
                <div class="well">
                    <i class="ex-10-icon fas fa-circle-notch"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./js/script.js"></script>
</body>
</html>